.main {
  transition: width 1s;
  .nav-bar {
    width: 100%;
    border-bottom: 2px solid #99abbd;
    height: 46px;
    .bp3-button {
      height: 45px;
    }
    .bp3-button:nth-of-type(1) {
      float: left;
    }
    .bp3-button:nth-of-type(2) {
      float: left;
    }
    .bp3-minimal {
      border: 1px solid #EEEEEE;
    }
    .icon-right {
      right: 0;
      position: absolute;
      margin: 0 !important;
    }
    .scroll {
      margin: 0;
      list-style: none;
      overflow: hidden;
      white-space: nowrap;
      list-style-position: outside;
      left: 0;
      right: 0;
      .scroll-bar {
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        display: inline-flex;
        .home {
          width: 65px;
          height: 100%;
          text-align: center;
        }
        .tag {
          width: 120px;
          height: 100%;
          text-align: center;
        }
        .nav-button {
          cursor: pointer;
          display: inline-block;
          border-right: 1px solid #EEEEEE;
          height: 45px;
          line-height: 45px;
          .anticon {
            color: #a8a6a6;
          }
        }
        .nav-button:hover {
          background-color: #e4e8ec;
        }
        .nav-button.active {
          background-color: #2F4050;
          color: #fff;
          .anticon {
            color: #fff;
          }
        }
        .anticon:hover {
          color: red;
        }
      }
    }
  }
  .body {
    background-color: #F3F3F4;
    padding: 10px 5px;
  }
}
