@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~antd/dist/antd.css';

body {
  margin: 0 !important;
  font-family: 微软雅黑, Helvetica;
  overflow: hidden;
}

:focus {
  outline: rgba(19, 124, 189, 0.6) auto 0;
  outline-offset: 0;
}

.cols-filter {
  width: 200px;
  padding: 5px 10px;
  color: #000;
  .bp3-checkbox {
    display: inline-block;
  }
  .cols-head {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #bac0c5;
  }
  .cols-content {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    .cols-item {
      padding-top: 7px;
      height: 38px;
      line-height: 38px;
    }
  }
}
.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}

.ant-table-body {
  overflow-y: hidden;
}

.ant-table-small > .ant-table-content .ant-table-header::-webkit-scrollbar {
  width: 0;
}
.ant-table-small > .ant-table-content .ant-table-header {
  background-color: #eef1f5;
}

.ant-table-thead > tr > th {
  background-color: #eef1f5 !important;
}
